{% extends 'main/layout.html' %}

{% block title %}
Добавление автомобиля
{% endblock %}

{% block content %}
<div class = "features info2">
    <h1>Добавление автомобиля</h1>
    <form method="post">
        {% csrf_token %}
        <a>Марка:</a>
        {{ form.marka }}
        <a>Модель:</a>
        {{ form.model }}
        <a>Дата выпуска:</a>
        {{ form.data_vypuska }}
        <a>Вин-номер (Уникальное поле):</a>
        {{ form.vin_number }}
        <a>Номер авто:</a>
        {{ form.number_avto }}
        <a>Пробег:</a>
        {{ form.probeg }}
        <a>Водитель (водитель не должен быть связан с другим автомобилем):</a>
        {{ form.voditels }}<br><br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type = "submit">Добавить авто</button>
    </form>

</div>
{% endblock %}