{% extends 'main/layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<div class = "features info2">
    <h1>Учет автотранспорта</h1>
    <h3>Программа реализует “Учет автотранспорта” реализует добавление/удаление/редактирование автотранспорта и водителей, и добавление/просмотр страховок и техосмотров.</h3>
    <br>
    <h3>Без вход в аккаунт эти функции не будут работать, при прохождении аутентификации будет доступен полный функционал приложения. Вы увидите остальные страницы.</h3>
<br><br>
    {% if not request.user.is_authenticated %}
    <h3> Пожалуйста аутентифицируйтесь!</h3>
    {% endif %}
    {% if request.user.is_authenticated %}
    <h3> Поздравляем аутентификация прошла успешно! У вас есть доступ ко всему функционалу.</h3>
    {% endif %}
</div>
{% endblock %}